@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  min-height: 75px;
  padding: 0px 20px;
  align-items: center;
  background-color: #eee;
}
#page-container {
  position: relative;
}
.grid-row {
  display: flex;
}
.mylogo {
    width: 60vw;
}
.mylogo > img {
  width: 60vw;
  max-width: 300px;
}
#form-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 200px;
  margin-top: 50px;
  justify-content: center;
}
#video-con {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}
#p-features {
  margin-top: 30px;
}

#p-features .icon {
  display: flex;
  height: 125px;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.product {
  float: left;
  width: 33.33%;
  border-radius: 3px;
}
.section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  margin-top: 30px;
  padding: 20px;
  background-color: #ddd;
}

footer > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
footer li a {
  text-decoration: none;
    padding: 0 10px;
}
@media (max-width: 550px) {
  .product {
  float: none;
  border-radius: 3px;
}
}